.footer {
	border-top: solid 3px #046380;
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 45px;	
	background-color: #046380;
	color: #EFECCA;
}
.foot p {
	padding-top: 10px;
}

.navbar-right form {
	display: inline;
}

.navbar-default {
	background-color: #046380;
}
.navbar-default .navbar-brand {
	color: #EFECCA;
}
.navbar-default .navbar-brand:hover {
	color: #A7A37E;
}
.navbar-nav {
	vertical-align: middle;
	padding : 8px 8px;
}
.btn-bar {
    color: #EFECCA;
    background-color: #046380;
    border-color: #046380;
}
.btn-bar:hover {
    color: #A7A37E;
    background-color: #046380;
    border-color: #046380;
}
.btn {

}
body {
	background-color: #EFECCA;
}
.div-pp {
	text-align: center;
	color: #002F2F;
	/*border-right: solid 5px #046380;*/
	border-radius: 5px;	
}
h3 {
	color: #046380;
	margin-bottom: 18px;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: 16px;
}
a {
	color: #002F2F;
}

.modal-content {
	background-color: #EFECCA;
}

.modal-header {
	background-color: #046380;
	color : #EFECCA;
	text-align: center;
}

.salon h3 {
	text-align: center;
	margin-bottom: 25px;

}
.carte {
	word-wrap: break-word;
	padding: 10px 8px 8px 8px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 1.75%;
	margin-right: auto;
	height: 100%;
	width: 23%;
	border-width: 5px;
	border-color: #046380;
	border-style: solid;
	background-color: #A7A37E;
	border-radius: 8px;
	color: black;
	float: left;
}
#enonce {
	color: #EFECCA;
	background-color: #046380;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	float: none;
}
.joueur {
	padding-left: 1%;
}
i{
	margin: 4px;
}
.joueur p{
	white-space:nowrap;
}
