/* Debut style du footer */
html {
	position: relative;
	min-height: 100%;
}

.footer {
	border-top: solid 3px #046380;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 45px;	
	background-color: #046380;
	color: #EFECCA;
}

.foot p {
	padding-top: 10px;
}
/* Fin style du footer*/

/* Debut style de la navigation */
.navbar-right form {
	display: inline;
}

.navbar-default {
	background-color: #046380;
}

.navbar-default .navbar-brand {
	color: #EFECCA;
}

.navbar-default .navbar-brand:hover {
	color: #A7A37E;
}

.navbar-nav {
	vertical-align: middle;
	padding : 8px 8px;
}

.btn-bar {
    color: #EFECCA;
    background-color: #046380;
    border-color: #046380;
}

.btn-bar:hover {
    color: #A7A37E;
    background-color: #046380;
    border-color: #046380;
}
/* Fin style de la navigation */

/* Debut style de la page */ 
.btn {

}

body {
	background-color: #EFECCA;
	margin-bottom: 60px;
	color: #002F2F;
}

.div-pp {
	text-align: center;
}

.div-profil form {
	text-align: left;
}

input[type=submit] {
	margin: 8px;
	background-color: #046380;
	color: #EFECCA;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	padding: 8px;
}

input[type=submit]:hover {
	color: #A7A37E;
}

.form-control{
	margin: 5px;
}

h3 {
	color: #046380;
	margin-bottom: 18px;
	text-align: center;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: 16px;
}

a {
	color: #002F2F;
}

i{
	margin: 4px;
}
/* Fin style de la page */

/* Debut style des modales */
.modal-content {
	background-color: #EFECCA;
}

.modal-header {
	background-color: #046380;
	color : #EFECCA;
	text-align: center;
}
/* Fin style des modales */

/* Debut style des salons */
.carte {
	word-wrap: break-word;
	padding: 10px 8px 8px 8px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 1.75%;
	margin-right: auto;
	height: 100%;
	width: 23%;
	border-width: 5px;
	border-color: #046380;
	border-style: solid;
	background-color: #A7A37E;
	border-radius: 8px;
	color: black;
	float: left;
}

.carte input[type=submit] {
	margin: 0px;
	background-color: #A7A37E;
	color: black;
	padding: 0px;
}

#enonce {
	color: #EFECCA;
	background-color: #046380;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	float: none;
}

.joueur {
	padding-left: 1%;
}

.joueur p{
	white-space:nowrap;
}
/* Fin style des salons */

/* A garder ? */
.form_col {
    display: inline-block;
    margin-right: 15px;
    padding: 3px 0px;
    width: 200px;
    min-height: 1px;
    text-align: right;
}
