.navbar-default {
	background-color: #046380;
}
.navbar-default .navbar-brand {
	color: #EFECCA;
}
.navbar-default .navbar-brand:hover {
	color: #A7A37E;
}
.navbar-nav {
	vertical-align: middle;
	padding : 8px 8px;
}
.btn-bar {
    color: #EFECCA;
    background-color: #046380;
    border-color: #046380;
}
.btn-bar:hover {
    color: #A7A37E;
    background-color: #046380;
    border-color: #046380;
}
.btn {

}
body {
	background-color: #EFECCA;
}
.div-pp {
	text-align: center;
	color: #002F2F;
}
h3 {
	color: #046380;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: 16px;
}
a {
	color: #002F2F;
}
