{% extends 'core/base.html' %}

{% block content %}
<div class="row salon">
	<div class="col-md-9">
		<h3>Jeu</h3>
		{% if question %}
			{% if reponses %}
				<div class="carte" id="enonce">
					<p>{{ question.intitule }}</p>
				</div>
				
				<div class="row">
				{% for reponse in reponses %}
					<div class="col-md-2 carte">
						<p> {{ reponse.intitule }} </p>
					</div>
				{% endfor %}
				</div>
			{% else %}
				<p>Les réponses n'ont pas pu être chargées</p>
			{% endif %}
		{% else %}
			<p>La question n'a pas pu être chargée</p>
		{% endif %}
	</div>
	<div class="col-md-3">
		<h3> Salle n°{{ room.id }}</h3>
		<table class="table">
		<tr>
			<td>
			 <p><i class="fa fa-user-o" title="Joueur"></i> Jodjsjdzlkueureidzjdoz1</p>
			</td>
			<td>
				12
			</td>
		</tr>
		<tr>
			<td>
			<p><i class="fa fa-user-o" title="Joueur"></i> Joueur2 </p>
			</td>
			<td>
				5
			</td>
		</tr>
		<tr>
			<td>
			 <p><i class="fa fa-star" title="Maitre du jeu"></i> Joueur3 </p>
			</td>
			<td>
				8
			</td>
		</tr>
		<tr>
			<td>
			 <p><i class="fa fa-user-o" title="Joueur"></i> Joueur4</p> 
			</td>
			<td>
				8
			</td>
		</tr>

	</table>
  </div>
</div>
{% endblock %}