{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
<div class="row salon">
	<div class="col-md-9">
		<h3>Jeu</h3>
		{% if question %}
			{% if reponses %}
				<div class="carte" id="enonce">
					<p>{{ question.intitule }}</p>
				</div>

				<div id=reponse_activate class="row">
				{% for reponse in reponses %}
					<div class="col-md-2 carte">
						<form id=carte-{{reponse.id}} name={{reponse.intitule}} class="gui_element" action="#" method="POST">
         			{% csrf_token %}
							<input type="submit" name="submitCard" id="carte" value = "{{ reponse.intitule }}" ></input>
						</form>
					</div>
				{% endfor %}
				</div>
				
				<div id=attendre class="row">
					<div class="col-md-6 col-md-offset-3 div-pp">
						<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
						<span class="sr-only">Chargement...</span>	
						<p>Veuillez attendre que tous les joueurs choisissent une carte.</p>
					</div>	
				</div>
			{% else %}
				<p>Les réponses n'ont pas pu être chargées</p>
			{% endif %}
		{% else %}
			<p>La question n'a pas pu être chargée</p>
		{% endif %}
	</div>
	<div class="col-md-3">
		<h3> Salle n°{{ room.id }}</h3>
		<table class="table">
		<tr>
			<td>
				<i class="fa fa-user-o" title="Joueur"></i>
			 <p id=joueur1 value={{player1}}> </p>
			</td>
			<td id=score1>
			</td>
		</tr>
		<tr>
			<td>
			<i class="fa fa-user-o" title="Joueur"></i>
			<p id=joueur2> {{player2}} </p>
			</td>
			<td id=score2>
			</td>
		</tr>
		<tr>
			<td>
				<i class="fa fa-star" title="Maitre du jeu"></i>
			 <p id=joueur3> {{player3}} </p>
			</td>
			<td id=score3>
			</td>
		</tr>
		<tr>
			<td>
				<i class="fa fa-user-o" title="Joueur"></i>
			 <p id=joueur4>{{player4}}</p>
			</td>
			<td id=score4>
			</td>
		</tr>

	</table>
  </div>
</div>
</div>

<script>

var ws = new WebSocket((window.location.protocol == 'http') ? 'ws:' : 'ws:' +  window.location.host + '/room/{{room.id}}')
</script>
<script type='text/javascript' charset = "utf-8">
	var token ="";
	var path = "{{room.id}}"
	var user = "{{ request.user.username }}"
</script>
{% endblock %}
{% block jquery %}
<script src="{% static 'js/Jeu.js' %}" charset="utf-8"></script>
{% endblock %}
