{% extends 'core/base.html' %}

{% block content %}
<div class="container">
<div class="row">
	<div class="col-md-6 div-pp">
		<h3>Liste des salons ouverts</h3>
		{% if openRooms %}
		<ul>
			{% for room in openRooms %}
				<a href="/room/{{ room.id }}/"> Salle : {{ room.id }} - {{ room.roomName }}</a> <br />
			{% endfor %}
		</ul>
		<br />
		<p><a href="/room"/>Accéder à la liste complète des salons</a></p>
		{% else %}
		<p>Aucun salon n'est pour l'instant ouvert</p>
		{% endif %}
	</div>
	<div class="col-md-6 div-pp">
		{% if closedRoomId %}
		<h3>Ouvrir un salon</h3>
		<form method="post" action="/room/{{ closedRoomId }}/creation/">
			<p>
				{% csrf_token %}
				Salon n°{{ closedRoomId }} <br />
				<input type="submit" value="Créer la salle" />
			</p>
		</form>
		{% endif %}
	</div>
</div>
</div>
{% endblock content %}
