{% extends 'core/base.html' %}

{% block content %}
<div class="container">
<div class="row">
	<div class="col-sm-4-offset-4 div-pp">
		<h3>Profil</h3>
    <form action="profil" method="POST">
      {% csrf_token %}
    <h4>Informations Personnelles</h4>
      <input type="text" name="prenom" id="prenom"  class="form-control" placeholder="Prenom" value="{{user.first_name}}">
      <input type="text" name="nom" id="nom"  class="form-control" placeholder="Nom" value={{user.last_name}}>
      <input type="email" name="email" id="email" class="form-control" placeholder="Adresse email" value="{{user.email}}">
      <input type="submit" value="Enregistrer les modifications" />
    </form>
	</div>
</div>
</div>
{% endblock content %}
