{% extends 'core/base.html' %}

{% block content %}
<div class="row">
	<div class="col-md-6 div-pp">
		<h3>Profil</h3>
    <form action="#" method="POST">
      {% csrf_token %}
    <h4>Informations Personnelles</h4>
      <input type="text" name="prenom" id="prenom"  class="form-control" placeholder="Prenom" value="">
      <input type="text" name="nom" id="nom"  class="form-control" placeholder="Nom" value="">
      <input type="email" name="email" id="email" class="form-control" placeholder="Adresse email" value="">
      <input type="submit" value="Enregistrer les modifications" />
    </form>
	</div>
</div>
{% endblock content %}
